.Question {
    background-color: #224;
    border: 1px solid #aaa;
    border-radius: 30px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    box-shadow: 2px 2px 10px #446;

    img.question-image {
        margin-top: 10px;
        box-shadow: 0px 0px 6px #33f;
        border: 2px solid #fff;
    }

    img.error {
        margin-top: 10px;
        box-shadow: none;
        border: none;

        &.active {
            display: block;
            position: fixed;
            top: 40px;
            left: 50%;
            width: 300px;
            margin-left: -150px;
        }

        &.inactive {
            display: none;
        }
    }

    p {
        display: block;
        height: 100%;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 12px;
        text-align: center;
    }

    Button {
        border-color: #fff;
        min-width: 80%;
        max-width: 100%;
        overflow-wrap: break-word;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 10px;


        &:active,&:visited {
            text-shadow: 1px 1px 5px #000;
            font-weight: bold;
        }

        &.answer_right:not(:disabled):active,&.answer_right:not(:disabled):visited {
            background-color: #1c2;
            border-color: #263;
            
            &:focus {
                box-shadow: 0 0 0 0.2rem #263;
            }
        }
    }
}