.storyButton, .storyText {
    text-align: center;
    width: auto;
    display: block;
    button{
        max-width: 200px;
    }

    p {
        white-space: pre-wrap;
        text-align: left;
    }
}